---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Nisc">
	
		<Navbar/>
		<main>
		<div class=" text-center mt-20">
		<h1 class="text-4xl text-white"> Welcome to <span class="bg-gradient-to-r from-purple-300 to-purple-700 bg-clip-text text-transparent">Nisc</span> portfolio</h1>
		<p class="text-white mt-8"> Hello, I'm Nisc, a full-stack developer. I love to build web applications and solve problems. I'm currently studying higher vocational training in web development. I'm passionate about learning new technologies and building projects. I'm always looking for new opportunities to learn and grow. Feel free to check out my projects and contact me.
		</p>
	</div>
		
	</main>
</Layout>
<style>
	
</style>
