---
const { name, title, description } = Astro.props;
---
<div class="bg-gray-800 p-6 rounded-lg shadow-lg group">
    <h2 class="text-2xl font-bold mb-2 text-white group-hover:bg-gradient-to-r group-hover:from-purple-300 group-hover:to-purple-700 group-hover:bg-clip-text group-hover:text-transparent ease-in-out group-hover:opacity-100">{name}</h2>
    <p class="text-gray-400 mb-4">{title}</p>
    <p class="text-gray-300">{description}</p>
</div>