---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/NavbarEs.astro';
---

<Layout title="Nisc">
    <Navbar/>
    <main>
        <div class="text-center mt-20">
            <h1 class="text-4xl text-white"> Bienvenido al portafolio de <span class="bg-gradient-to-r from-purple-300 to-purple-700 bg-clip-text text-transparent">Nisc</span></h1>
            <p class="text-white mt-8"> Hola, soy Nisc, un desarrollador full-stack. Me encanta construir aplicaciones web y resolver problemas. Actualmente estoy estudiando formación profesional superior en desarrollo web. Me apasiona aprender nuevas tecnologías y construir proyectos. Siempre estoy buscando nuevas oportunidades para aprender y crecer. No dudes en revisar mis proyectos y contactarme.
            </p>
        </div>
    </main>
</Layout>
<style>
    
</style>